inner.rs

/target
/assets
/cache
/data
/.cargo
/config.txt
/assets
/assets/res
/monitor-config.yml
/.vscode
/static-lib

/prpr-avc/static-lib

# Mac

._*
.DS_Store
/run_ios.sh
/prebuild_ios.sh
/build_ios.sh
/build
/*.ipa
/phira.app
/phira.xcodeproj/project.xcworkspace/xcuserdata/
/xcode/LocalSigning.xcconfig
/dist
/project.yml
/prpr.scent
/.cargo

# Test

/test
/log*
/build_event_debug.sh


# OHOS

/phira/dist/

# Build artifacts

/android-ndk-*.zip

/commandlinetools-*.zip

/assets/assets.zip

/*.exe

/prpr-avc.zip

/build-android.ps1

.trae/
